.App {
  text-align: center;
  
}
.title>.rank {
  font-size: 10pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 1.5em;
  text-align: right;
  display: inline-block;
}
body {
  padding: .8%;
}
.header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10pt;
  display: flex;
  align-items: center;
  background-color: #ff6600;
  width: 100%;
  padding: 2px;
  box-sizing: border-box;
  
}

img {
  border: 1px solid white;
}

#logo-text {
  
  font-weight: bold;
  color: black;

}

.upvote {
  color: #828282;
  font-size: 7pt;
}
.app-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.app-body {
  width: 85%;
  background-color: #f6f6ef;
  display: flex;
  flex-direction: column;
}
.post-list {
  padding: .5%;
}
.post-info {
  color: #828282;
  font-size: 7pt;
  padding-left: 4em;
}

a {
  text-decoration: none;
  color: #828282;
}
.title {
  line-height: 0.9em;
}
.title>a{
  color: black;
  font-size: 10pt;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title>span {
  font-size: 8pt;
  color: #828282;
}

.title>span>a {
  color: #828282;
}

.comment-header {
  color: #828282;
  font-size: 7pt;
}

.comment-body {
  font-size: 9pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  padding: .2em 1em;
}

.comment-container {
  padding: .5rem 1rem 3rem 1rem;
}

textarea {
  width: 30em;
  height: 7em;
  display: block;
}
button {
  color: black;
  font-family: monospace;
  font-size: 10pt;
}